<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINESYSTEM</title>
    <link rel="stylesheet" href="/view/style/style.css">
    <link rel="icon" href="/view/logo/Centerplex_2016_icon1.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
    </style>
</head>
<body>
   <header>
       <nav>
           <ul>
               <img id = 'logo' src="/view/logo/logo-cinesystem-contraste.gif" alt="">
               <li><a href="">Home</a></li>
               <li><a href="">Programação</a></li>
               <li><a href="">Sobre nós</a></li>
           </ul>
       </nav>
   </header>
   <section id = 'banner-section' class = 'cont'>
       <img id = 'banner-id' src="/view/imgs/desktop-454.jpg" alt="">
   </section>
   <br><br>
   <h1 class = 'topic'>BREVEMENTE EM CARTAZ</h1>
   <br><br>
   <span id = 'arrow-left' class = 'arrow'><img src="/view/arrows/arrow-left.png" alt=""></span>
   <span id = 'arrow-right' class = 'arrow'><img src="/view/arrows/arrow-right.png" alt=""></span>
   <br><br>
   <section id = 'next-sections' class = 'cont'></section>
   <br><br>
   <h1 class = 'topic'>INFORMAÇÕES</h1>
   <section id = 'infos-section' class = 'cont'></section>
   <br><br>
   <section id = 'noti-section' class = 'cont'>
       <h1 class = 'topic'>RECEBA NOVIDADES</h1>
       <br><br>
       <form action="" method="post">
            <input type="text" name="" id="" placeholder="Nome" required>
            <input type="email" name="" id="" placeholder="Email" required>
       </form>
   </section>
   <footer>
       <div class = 'footer-container'>
           <h3>A CINESYSTEM</h1>
            <ul>
                <li><a href="">CONHEÇA A CINESYSTEM</a></li>
                <li><a href="">ESPAÇO VIP</a></li>
                <li><a href="">COMERCIAL</a></li>
                <li><a href="">SALA CINÉPIC</a></li>
                <li><a href="">ESCAPE ROUTE</a></li>
                <li><a href="">CARTÃO PRESENTE</a></li>
            </ul>
       </div>
       <div class = 'footer-container'>
           <h3>CLUBE DA PIPOCA</h1>
            <ul>
                <li><a href="">ACESSE SUA CONTA</a></li>
                <li><a href="">CADASTRE-SE</a></li>
                <li><a href="">COMO FUNCIONA</a></li>
                <li><a href="">DESTAQUES</a></li>
                <li><a href="">TROQUE SEUS PRÊMIOS</a></li>
            </ul>
       </div>
   </footer>
   <script type="text/javascript" src="files/ban.js"></script>
   <script type="text/javascript" src="files/app.js"></script>
</body>
</html>